/*---------------  FONTS USED ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*--------- HTML ---------*/
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
}

/*---------------------------------------------
----------------- PC STYLE --------------------
---------------------------------------------*/

/*---------- HERO -------*/
.hero {
    background-image: url("../images/hero.jpg");
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

/*---------- HERO BUTTON -------*/
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    padding-top: 13%;
    padding-bottom: 7%;
}

.hero-text a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 2%;
    border-radius: 3rem;
    background-color: #2B303A;
    transition: all 0.3s;
}

.hero-text a:hover {
    background-color: #404652;
}

/*---------- STAFF -------*/
.staff-cont {
    display: flex;
    flex-direction: row;
    background-color: #BAC1B8;
    padding-top: 15%;
    padding-bottom: 15%;
    justify-content: space-around;
}

.staff {
    width: 20%;
}

.staff img {
    padding-bottom: 2%;
    width: 100%;
}

.staff h1 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.staff p {
    font-size: 20px;
}

/*-- reservations --*/
.reserve-staff {
    padding-top: 20%;
    text-align: center;
}

.reserve-staff h1 {
    color: rgb(59, 59, 59);
    font-family: 'Playfair Display', serif;
}

.reserve-staff span {
    color: #000;
}

.reserve-staff h1 {
    padding-bottom: 5%;
}

.reserve-staff button {
    color: #000;
    background-color: #fff;
    border: 2px solid #2B303A;
    border-radius: 4px;
    padding: 0 20px;
    cursor: pointer;
    height:32px;
    font-size:20px;
    transition: all 0.2s ease-in-out;
}

.reserve-staff button:hover {
    transform: scale(1.1);
}

.reserve-staff a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

/*---------- SERVICES -------*/
.services-cont {
    background-image: url("../images/services.jpg");
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.header p {
    color: #fff;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}

.header {
    padding-top: 10%;
    padding-bottom: 15%;
    text-align: center;
}

.list-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    backdrop-filter: blur(2px);
    padding: 2% 0 2% 0;
    border-radius: 3%;
}

.list li {
    list-style: none;
    color: #fff;
    font-size: 50px;
    letter-spacing: 1px;
}

.list span {
    color: #0C7C59;
    font-size: 50px;
    letter-spacing: 1px;
}

/*---------- MAP AND SCHEDULE -------*/
.map-hours-cont {
    padding-top: 15%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #BAC1B8;
}

.hours h1 {
    font-size: 40px;
    padding-top: 3%;
    padding-bottom: 6%;
    font-family: 'Playfair Display', serif;
}

.hours li {
    padding-bottom: 2%;
    list-style: none;
    font-size: 30px;
}

/*---------- FOOTER -------*/
.footer {
    background-color: #2B303A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10%;
    padding-bottom: 10%;
}

.links { 
    text-align: center;
}

.links i {
    color: #fff;
    list-style: none;
    font-size: 35px;
    transition: all 0.3s;
}

.fa-instagram-square:hover{
    color: #fccc63;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-twitter-square:hover{
    color: #00acee;
}

.copyright {
    padding-top: 5%;
    color: #fff;
    text-align: center;
}

.copyright p{
    font-size: 30px;
}

.copyright a {
    color: #0C7C59;
    transition: all 0.3s;
}

.copyright a:hover {
    color: #fff;
}

/*-------------------------------------------------
----------------- TABLET STYLE --------------------
-------------------------------------------------*/
@media (max-width: 1090px){
    /*---- STAFF ----*/ 
    .staff-cont {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 5%;
    }

    .staff {
        padding-bottom: 10%;
    }

    /*---- SERVICES ----*/ 
    .list-cont {
        flex-direction: column;
        align-items: center;
    }

    /*---- MAP AND SCHEDULE ----*/
    .map-hours-cont {
        flex-direction: column;
        align-items: center;
    }
}
